EXPO_PUBLIC_APP_NAME=一起选
EXPO_PUBLIC_IOS_BUNDLE_ID=com.ggbgz.yiqixuan
EXPO_PUBLIC_ANDROID_PACKAGE=com.ggbgz.yiqixuan
EXPO_PUBLIC_SUPPORT_EMAIL=
EXPO_PUBLIC_PRIVACY_POLICY_URL=
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
